<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>todo-swipe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36578C101D01C3E7008F0D75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36578C241D01C3E8008F0D75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36578C2F1D01C3E8008F0D75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
